body{

    display: block;
    padding-top:20px; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

img{

    width:50%;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#search{

    margin-left: 14px;

   
}


.row{

    display: flex; 
    
}



#searchBtn{

    margin-right: auto;
    margin-left: 20px;

}

#postBtn{

    margin-right: auto;
    margin-left: 10px;
    
}

#editBtn{

    margin-right: 10px;
}
