
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Sign up</p>

  <div class="form-row mb-4">
      <div class="col">
         
          <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        
          <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
      </div>
  </div>

 
  <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">


  <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
  
  <select class="browser-default custom-select" style="margin-top: 25px">
    
    <option value="1" selected>User</option> 
    <option value="2">Poster</option> 
  </select>




  <button class="btn btn-info my-4 btn-block" type="submit" (click)="toLogin()">Sign up</button>


  

  
</form>
