<head>
	<title>My Page</title>
	
</head>

<body>

	<div class="row">

		<div class="col-xs-2">
		<input class="form-control" id="search" type="text" placeholder="Search" aria-label="Search">
		
		</div>
		<button type="button" class="btn btn-primary" id="searchBtn" style="margin-left: 10px">Search</button>
		
		<div class="d-flex justify-content-end">
			<button type="button" class="btn btn-success" id="postBtn" (click)="toPost()" >
				<i class="fas fa-bullhorn"></i>
				Post a Job  
			</button>
		</div>
		
	</div>

	<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
		<span style="font-size: 25px; background-color: white; padding: 0 10px;">
			<i class="fas fa-tint"></i>  Design 
		</span>
	</div>


	
	<table class="table table-bordered">
		<thead class="thead-light">
		<tr>
			<th scope="col">Location</th>
			<th scope="col">Position</th>
			<th scope="col">Company</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let designPost of designPosts | async" 
			[class.location]="designPost.location"
			[class.position]="designPost.position"
			[class.company]="designPost.company">
			<td>{{designPost.location}}</td>
			<td>{{designPost.position}}</td>
			<td>{{designPost.company}}</td>
		</tr>
		

		</tbody>
	</table>

	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item"><a class="page-link">Previous</a></li>
			<li class="page-item"><a class="page-link">1</a></li>
			<li class="page-item"><a class="page-link">2</a></li>
			<li class="page-item"><a class="page-link">3</a></li>
			<li class="page-item"><a class="page-link">Next</a></li>
		</ul>
	</nav>



	<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
		<span style="font-size: 25px; background-color: white; padding: 0 10px;">
			<i class="fas fa-cubes"></i>  Programming
		</span>
	</div>

	<table class="table table-bordered">
		<thead class="thead-light">
		<tr>
			<th scope="col">Location</th>
			<th scope="col">Position</th>
			<th scope="col">Company</th>
		</tr>
		</thead>
		<tbody>
				<tr *ngFor="let progPost of progPosts | async" 
				[class.location]="progPost.location"
				[class.position]="progPost.position"
				[class.company]="progPost.company">
				<td>{{progPost.location}}</td>
				<td>{{progPost.position}}</td>
				<td>{{progPost.company}}</td>
			</tr>
		</tbody>
	</table>
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item"><a class="page-link">Previous</a></li>
			<li class="page-item"><a class="page-link">1</a></li>
			<li class="page-item"><a class="page-link">2</a></li>
			<li class="page-item"><a class="page-link">3</a></li>
			<li class="page-item"><a class="page-link">Next</a></li>
		</ul>
	</nav>
</body>
